<h1>Your Places</h1>

<% if session["user_id"] %> 
  <% if @places.any? %>
    <ul>
      <% @places.each do |place| %> 
        <li>
          <a href="/places/<%= place.id %>"><%= place.name %></a>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>You haven't added any places yet.</p> 
  <% end %>

  <p>
    <a href="/places/new">Add a New Place</a> 
  </p>
<% else %>
  <p>You must be logged in to view places.</p>
  <a href="/login">Login</a>
<% end %>