<h1>Your Places</h1>

<% if session["user_id"] %> 
  <% if @places.any? %>
      <% @places.each do |place| %> 
        <p>
          <a href="/places/<%= place.id %>" class="btn btn-light"><%= place.name %></a>
        </p>
      <% end %>
    </ul>
  <% else %>
    <p>You haven't added any places yet.</p> 
  <% end %>

  <p>
    <a href="/places/new" class="btn btn-primary">Add New Place</a> 
  </p>
<% else %>
  <p>You must be logged in to view places.</p>
  <a href="/login">Login</a>
<% end %>